@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 45%;
  left: 35%;
  background-color: #f4f6fa;
}

.container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 350px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-prev {
  margin-right: 50px;
}

.circle {
  border: 2px solid #000;
  border-radius: 100%;
  border-color: #dcdcdc;
  display: inline-block;
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 3;
  background-color: #fff;
}

.circle.circle1.active {
  border-color: #2788d6;
  transition: ease-in-out 1s;
}

.circle.circle2.active {
  border-color: #2788d6;
  transition: ease-in-out 1s;
}

.circle.circle3.active {
  border-color: #2788d6;
  transition: ease-in-out 1s;
}

.circle.circle4.active {
  border-color: #2788d6;
  transition: ease-in-out 1s;
}
.progress {
  background-color: #dcdcdc;
  height: 2px;
  width: 330px;
  display: flex;
  z-index: 1;
  position: absolute;
  top: 15px;
}

.runner {
  display: flex;
  /* width: 0px; */
  z-index: 2;
  background-color: #2788d6;
  transition: width 1s ease-in-out;
  animation-duration: 2s;
  /* animation-timing-function: linear; */
  /* background-image: linear-gradient(90deg, #2788d6 40%, #dcdcdc 40%); */
}

@keyframes move-progress1 {
  from {
    width: 0px;
  }
  to {
    width: 130px;
  }
}

@keyframes move-progress2 {
  from {
    width: 120px;
  }
  to {
    width: 220px;
  }
}

@keyframes move-progress3 {
  from {
    width: 220px;
  }
  to {
    width: 350px;
  }
}
