@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  /* display: flex;
  width: 90vw; */
  /* background-color: aquamarine; */
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80vh;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: width 2s, height 4s;
}

.panel.expand {
  width: 500px;
}

.panel.expand h3 {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.1s;
}

.panel h3 {
  opacity: 0;
}

h3 {
  position: relative;
  top: 89%;
  left: 5%;
}
